._fm-component-box:nth-child(odd) {
    flex-direction: row-reverse;
}

._fm-component-box:nth-child(even) {
    flex-direction: row;
}

._fm-component-box > div {
    flex: 1;
}

._fm-component-subtitle {
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: #D16166;
}

._fm-component-title {
    margin: 24px 0 16px;
    font-weight: 800;
    font-size: 48px;
    line-height: 60px;
    color: #1E1E1E;
    max-width: 700px;
}

._fm-component-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: #1E1E1E;
    /* max-width: 500px; */
}
._fm-component-image {
    display: flex;
    align-items: center;
    justify-content: center;
}
._fm-component-image>img {
    width: 579px;
    max-width: 100%;
    height: 674px;
    border-radius: 24px;
}

@media(max-width: 1024px) {
    ._fm-component-box {
        gap: 24px;
    }

    ._fm-component-image {
        flex-shrink: 0;
    }

    ._fm-component-image>img {
        width: 320px;
        height: 480px;
    }
}

@media(max-width: 768px) {
    ._fm-component-box {
        flex-direction: column-reverse !important;
        align-items: flex-start !important;
    }

    ._fm-component-image {
        margin: 0 0 0 auto;
    }
}

.-fm_component-image {
    max-width: 100%;
}