._fm-title-screen {
    height: 100vh;
    position: relative;
}

._fm-text {
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    color: #1E1E1E;
    text-align: center;
    max-width: 1140px;
    z-index: 1;
}

._fm-cards img,
._fm-cards {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* @media(max-width: 1550px) {
    ._fm-title {
        font-size: 52px;
    }
    ._fm-text {
        font-size: 38px;
        line-height: 60px;
        max-width: 900px;
    }
} */

@media(max-width: 1199px) {
    ._fm-text {
        font-size: 36px;
        line-height: 60px;
        max-width: 830px;
    }

    ._fm-cards img,
    ._fm-cards {
        width: 190px;
    }

}

@media(max-width: 991px) {
    ._fm-text {
        font-size: 28px;
        line-height: normal;
        max-width: 659px;
    }

    ._fm-cards img,
    ._fm-cards {
        width: 140px;
    }

}

@media(max-width: 574px) {
    ._fm-text {
        font-size: 18px;
        line-height: normal;
        max-width: 322px;
    }

    ._fm-cards img,
    ._fm-cards {
        width: 100px;
    }

}