._fm-title-screen {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh
}

._fm-text {
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    color: #1E1E1E;
    text-align: center;
    max-width: 1140px;
    z-index: 1;
    z-index: 3;
}

._fm-cards {
    position: relative;
    width: 100%;
    height: 100%;
}

._fm-cards .screen_card {
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    /* width: 150px;
    height: 200px; */
    width: 215px;
    height: 334px;
    border-radius: 34px;
    display: block;
}

#text-fm-section .inner__word {
    overflow: auto;
    margin-bottom: -18px;
}

@media(max-width: 1199px) {
    ._fm-text {
        font-size: 36px;
        line-height: 60px;
        max-width: 830px;
    }
}

@media(max-width: 991px) {
    ._fm-text {
        font-size: 28px;
        line-height: normal;
        max-width: 659px;
    }

    #text-fm-section .inner__word {
        margin-bottom: 0;
    }

}

@media(max-width: 574px) {
    ._fm-text {
        font-size: 18px;
        line-height: normal;
        max-width: 322px;
    }

}

.screen3-container {
    /* height: 200vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    overflow: hidden; */
    position: relative;
}