._fm-title-screen {
    position: relative;
    /* overflow: hidden; */
    width: 100%;
    height: 100vh
}

.second_screen {
    z-index: 1;
}

._fm-text {
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    color: #1E1E1E;
    text-align: center;
    max-width: 1140px;
    z-index: 10;
}

._fm-cards {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: -1;
}

._fm-cards .screen_card {
    position: absolute;
    top: 120%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    /* top: 50%; */
    /* width: 150px;
    height: 200px; */
    width: 215px;
    height: 334px;
    border-radius: 34px;
    display: block;
}

/* ._fm-cards .screen_card:nth-child(1) {
    transform: translate(-50%, -50%);
    background-color: antiquewhite;
}

._fm-cards .screen_card:nth-child(2) {
    transform: translate(-50%, -40%);
    background-color: aqua;
}

._fm-cards .screen_card:nth-child(3) {
    transform: translate(-50%, -30%);
    background-color: cadetblue;
}

._fm-cards .screen_card:nth-child(4) {
    transform: translate(-50%, -20%);
    background-color: blueviolet;
} */

.text-fm-section .inner__word {
    overflow: auto;
    margin-bottom: -18px;
}

@media(max-width: 1199px) {
    ._fm-text {
        font-size: 36px;
        line-height: 60px;
        max-width: 830px;
    }
}

@media(max-width: 991px) {
    ._fm-text {
        font-size: 28px;
        line-height: normal;
        max-width: 659px;
    }

    #text-fm-section .inner__word {
        margin-bottom: 0;
    }

}

@media(max-width: 574px) {
    ._fm-text {
        font-size: 22px;
        line-height: normal;
        max-width: 100%;
        padding: 0 18px;
    }

    ._fm-cards .screen_card {
        width: 150px;
        height: 200px;
    }
}