.scroller {
  background-image: url('/src/assets/test.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

#scroller {
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-type: y mandatory; /* لو لسه بتستخدمه */
  position: relative; /* مهم لـ pin */
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: none; /* يمنع الباونسينغ في iOS */
  will-change: transform; /* تحسين البيرفورمانس */
}

.screen {
  height: 100vh;
  scroll-snap-align: start;
  flex-shrink: 0;
}