.scroller {
  background-image: url('/src/assets/test.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.full-height-section__item {
  height: 100vh;
}
