._fm-standards-container {
    padding: 0px 0 100px;
    z-index: 1;
    position: relative;
}

.standard-card {
    border-radius: 24px;
    color: #FFF;
    position: relative;
    height: 460px;
    flex: 1;
    overflow: hidden;
}

.standard-card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.standard-card-content {
    padding: 24px 24px 32px;
}

.standard-card-title {
    font-weight: 800;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 16px;
}

.standard-card-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 0;
}

.standard-card-icon-box {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 247, 219, 1);
}

.standard-card-icon {
    transform: translate(39px, 28px);
}

.card-top-right-curve {
    position: absolute;
    top: -10px;
    right: -30px;
    width: 40px;
    height: 40px;
    z-index: 1;
    border-radius: 28px 0 0 0;
    border: 10px solid transparent;
    border: 10px solid rgba(255, 247, 219, 1);
    border-right: 0;
    border-bottom: 0;
}

.card-bottom-left-curve {
    position: absolute;
    bottom: -30px;
    left: -10px;
    width: 40px;
    height: 40px;
    z-index: 1;
    border-radius: 28px 0 0 0;
    border: 10px solid transparent;
    border: 10px solid rgba(255, 247, 219, 1);
    border-right: 0;
    border-bottom: 0;
}

/* @media(max-width: 1550px) {
    .standard-card {
        font-size: 20px;
        margin-bottom: 8px;
        height: 400px;
    }

    .standard-card-title {
        font-weight: 800;
        font-size: 22px;
        margin-bottom: 8px;
    }

    .standard-card-content {
        padding: 20px 20px 26px;
    }

    .standard-card-text {
        max-width: 350px;
    }
} */

/* @media(max-width: 1150px) {
    .standard-card {
        height: 350px;
    }

    .standard-card-icon-box img {
        width: 120px;
    }

    .standard-card-content {
        padding: 14px 18px 24px 12px;
    }
} */


@media(max-width: 1199px) {
    ._fm-standards-container {
        padding: 0 0 44px;
    }

    .standard-card {
        height: 380px;
    }

    .standard-card-content {
        padding: 24px 16px 32px;
    }

    .standard-card-title {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 12px;
    }

    .standard-card-text {
        font-size: 12px;
    }

    .standard-card-icon-box img {
        width: 130px;
    }
}

@media(max-width: 991px) {
    ._fm-standards-container>div.d-flex.gap-4 {
        flex-wrap: wrap;
    }

    .standard-card {
        height: 300px;
        flex-basis: calc(50% - 12px);
        flex-grow: 0;
    }

    .standard-card-content {
        padding: 24px 16px 32px;
    }

    .standard-card-title {
        font-size: 18px;
        line-height: normal;
        margin-bottom: 12px;
    }

    .standard-card-icon-box img {
        width: 130px;
    }
}

@media(max-width: 574px) {
    ._fm-standards-container>div.d-flex.gap-4 {
        flex-direction: column;
    }

    .standard-card {
        /* height: auto; */
        flex-basis: 100%;
        flex-grow: 0;
    }
    .standard-card-content {
        height: 250px;
        justify-content: flex-end;
        display: flex;
        flex-direction: column;
    }

    
    .standard-card-icon-box img {
        width: 100px;
    }
}