._fm-hero-section {
    display: flex;
    align-items: center;
    height: 100vh;
}

h1._fm-main-title {
    font-weight: 800;
    font-size: 64px;
    line-height: 88px;
    text-align: center;
    /* max-width: 847px; */
}

#hero-title {
    position: absolute;
    left: calc(50% - 7px);
    transform: translate(-50%, -50%);
    height: 176px;
    width: 847px;
    top: 50%;
}

.rectangular {
    position: absolute;
    z-index: -2;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 258px;
    background: linear-gradient(180deg, #362E57 -4.28%, hsl(47, 100%, 93%));
    height: calc(50% + 180px);
    bottom: 0;
}

.rectangular .overlay {
    border-radius: 0;
    background-color: #362E57;
    opacity: .5;
}

@media(max-width: 1199px) {
    .rectangular {
        width: 194px;
    }
}

@media(max-width: 991px) {
    #hero-title {
        max-width: 785px;

    }

    .rectangular {
        width: 129px;
    }

}

@media(max-width: 768px) {
    #hero-title {
        max-width: 514px;
    }

}

@media(max-width: 575px) {
    #hero-title {
        max-width: 100%;
    }

    .rectangular {
        /* width: 105px; */
    }

}

@media(max-width: 370px) {
    #hero-title {
        font-size: 28px;
    }

    .rectangular {
        /* width: 105px; */
    }

}

@media(max-width: 574px) {
    #hero-title {
        max-width: 100%;
    }

    .rectangular {
        /* width: 105px; */
    }

}