._fm-services-container {
    padding: 160px 32px 0;
    padding-left: 0;
    z-index: 1;
    position: relative;
    max-width: 1568px;
    overflow: hidden;
    /* max-width: 1440px; */
    margin: 0 auto;
}


._fm-services-content {
    gap: 32px;
}

._fm-services-content ._fm-section-title {
    padding-top: 80px;
}

._fm-service-card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 463px;
    width: 100%;
    border-radius: 24px;
    padding: 32px;
    color: #FFF;
    position: relative;
    position: relative;
    overflow: hidden;
}

#service-inner-word {
    opacity: 0;
    transform: translateY(100%);
    transition: .4s ease-in;
    filter: blur(3px);
    overflow: auto;
    margin-bottom: -3px;
}

._fm-service-card:hover #service-inner-word {
    filter: blur(0px);
    opacity: 1;
    transform: translateY(0);
}

._fm-service-card .overlay {
    background-color: #000;
    opacity: .6;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.service-card-content {
    z-index: 1;
    max-width: 275px;
    margin: 0 0 0 auto;
}

.service-card-content .word {
    opacity: 0;
}

._fm-service-card img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* TODO */
    object-fit: cover;
}

.serviec-card-title {
    font-weight: 800;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 16px;
}

.service-card-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: rgba(229, 229, 229, 1);
}

/* #service-inner-word {
    opacity: 0;
} */

.service-card-link {
    all: unset;
    position: absolute;
    bottom: -2px;
    right: -2px;
    /* bottom: -2px;
    right: -2px; */
    border-radius: 50% 0 0 0%;
    background-color: rgba(255, 247, 219, 1);
    width: 100px;
    height: 100px;
    /* transition: .3s ease-in; */
}

/* TODO: fix arrow icon size */
.service-arrow-icon {
    width: 84px;
    height: 84px;
    border-radius: 50%;
    position: absolute;
    right: 4px;
    bottom: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(45deg);
    z-index: 3;
}

.card-bottom-curve {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    flex: 1;
    position: absolute;
    bottom: -18px;
    right: 80px;
    transform: rotate(-45deg);
    border: 20px solid transparent;
    border-bottom-color: #fff7db;
}

.card-top-curve {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    flex: 1;
    position: absolute;
    top: -80px;
    right: -18px;
    transform: rotate(-45deg);
    border: 20px solid transparent;
    border-bottom-color: #fff7db;
}

._fm-services-container .swiper_button_prev,
._fm-services-container .swiper_button_next {
    all: unset;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #D161661F;
    color: #D16166;
    display: flex;
    align-items: center;
    justify-content: center;
}

._fm-services-container .swiper_button_next:disabled,
._fm-services-container .swiper_button_prev:disabled {
    opacity: .4;
}

/* @media(max-width: 1550px) {

    ._fm-services-container {
        padding: 120px 0;
    }

    ._fm-service-card {
        height: 440px;
    }

    .serviec-card-title {
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 8px;
    }

    .service-card-text {
        font-size: 14px;
        line-height: 20px;
    }

    .service-card-link {
        padding: 11px;
        border-radius: 50% 0 0 0%;
    }

    .service-arrow-icon {
        width: 60px;
        height: 60px;
    }

    .service-arrow-icon>svg {
        width: 32px;
    }

    .card-bottom-curve {
        bottom: -10px;
        left: -30px;
        width: 40px;
        height: 40px;
        z-index: 1;
        border-radius: 0 0 28px 0;
        border: 10px solid transparent;
        border-right-color: rgba(255, 247, 219, 1);
        border-bottom-color: rgba(255, 247, 219, 1);
    }

    .card-top-curve {
        position: absolute;
        top: 10px;
        right: -10px;
        width: 40px;
        height: 40px;
        z-index: 1;
        border-radius: 0;
        border: 10px solid rgba(255, 247, 219, 1);
        border-left: 0;
        border-top: 0;
        border-radius: 0 0 32px 0;
        transform: translateY(-100%);
    }

    ._fm-services-container .swiper_button_prev,
    ._fm-services-container .swiper_button_next {
        width: 32px;
        height: 32px;
        font-size: 14px;
    }
} */

@media(max-width: 1199px) {

    ._fm-services-container .swiper_button_prev,
    ._fm-services-container .swiper_button_next {
        width: 32px;
        height: 32px;
        font-size: 12px;
    }

    ._fm-service-card {
        /* padding: 26px; */
        /* height: 440px; */
    }

    .serviec-card-title {
        /* font-size: 20px;
        line-height: 30px;
        margin-bottom: 12px; */
    }

    .service-card-text {
        /* font-size: 12px; */
    }

    /* .service-arrow-icon {
        width: 70px;
        height: 70px;
    } */

    /* .service-arrow-icon svg {
        height: 36px;
    } */

    /* .service-card-link {
        width: 86px;
        height: 93px;
    } */
}

@media(max-width: 991px) {

    ._fm-services-container {
        /* padding: 0px 18px; */
        padding-right: 18px;
        /* padding-left: 18px; */
    }

    ._fm-services-container .swiper_button_prev,
    ._fm-services-container .swiper_button_next {
        /* width: 26px;
        height: 26px;
        font-size: 10px; */
    }

    ._fm-service-card {
        /* padding: 22px 22px 22px 40px; */
        /* height: 400px; */
    }

    /* .serviec-card-title {
        font-size: 18px;
        line-height: normal;
        margin-bottom: 12px;
    } */

    /* .service-card-text {
        font-size: 12px;
    } */

    /* .service-arrow-icon {
        width: 50px;
        height: 50px;
    } */

    /* .service-arrow-icon svg {
        height: 29px;
    } */

    /* .service-card-link {
        width: 60px;
        height: 70px;
    } */
}

@media(max-width: 768px) {
    .service-card-link {
        /* transform: translate(9px, 9px) scale(0.809); */
    }
}

@media(max-width: 574px) {
    ._fm-services-content {
        flex-direction: column;
        gap: 24px;
    }

    /* ._fm-services-container {
        padding: 0 18px;
    } */

    ._fm-services-container ._fm-section-title+div {
        justify-content: flex-start !important;
    }

    ._fm-services-content ._fm-section-title {
        padding-top: 0;
    }

    ._fm-service-card #service-inner-word {
        filter: blur(0px);
        opacity: 1;
        transform: translateY(0);
    }
}

@media(max-width: 460px) {
    ._fm-services-container {
        padding: 120px 18px 0;
    }
}