._fm-services-container {
    padding: 140px 0;
    z-index: 1;
    position: relative;
}

._fm-service-card {
    width: 332px;
    height: 463px;
    border-radius: 24px;
    padding: 32px;
    color: #FFF;
    position: relative;
}

._fm-service-card .overlay {
    background-color: #000;
    opacity: .6;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate(0);
    border-radius: 24px;
    z-index: 0;
}

.service-card-content {
    z-index: 1;
}

._fm-service-card img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 24px;
    background-color: rgba(255, 247, 219, 1);
}

.serviec-card-title {
    font-weight: 800;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 16px;
}

.serice-card-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: rgba(229, 229, 229, 1);
}

.service-card-link {
    all: unset;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 11px;
    border-radius: 50% 0 0 0%;
    background-color: rgba(255, 247, 219, 1);
}

.service-arrow-icon {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    border-radius: 50%;
    transform: rotate(45deg);
}

.card-bottom-curve {
    position: absolute;
    bottom: -10px;
    left: -30px;
    width: 40px;
    height: 40px;
    z-index: 1;
    border-radius: 0 0 28px 0;
    border: 10px solid transparent;
    border-right-color: rgba(255, 247, 219, 1);
    border-bottom-color: rgba(255, 247, 219, 1);
}

.card-top-curve {
    position: absolute;
    top: 10px;
    right: -10px;
    width: 40px;
    height: 40px;
    z-index: 1;
    border-radius: 0;
    border: 10px solid rgba(255, 247, 219, 1);
    /* border: 10px solid red; */
    border-left: 0;
    border-top: 0;
    border-radius: 0 0 32px 0;
    transform: translateY(-100%);
}