._fm-services-container {
    padding: 160px 32px 0;
    padding-left: 0;
    z-index: 1;
    position: relative;
    max-width: 1568px;
    overflow: hidden;
    /* max-width: 1440px; */
    margin: 0 auto;
}


._fm-services-content {
    gap: 32px;
}

._fm-services-content ._fm-section-title {
    padding-top: 80px;
}

._fm-service-card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 463px;
    width: 100%;
    border-radius: 24px;
    padding: 32px;
    color: #FFF;
    position: relative;
    position: relative;
    overflow: hidden;
    /* width: 332px; */
}

.service-card-text,
#service-inner-word {
    opacity: 0;
    transform: translateY(100%);
    transition: .4s ease-in;
    filter: blur(3px);
    overflow: auto;
    /* margin-bottom: -3px; */
}

#service-inner-word {
    margin-bottom: -3px;
}

._fm-service-card:hover .service-card-text,
._fm-service-card:hover #service-inner-word {
    filter: blur(0px);
    opacity: 1;
    transform: translateY(0);
}

._fm-service-card .overlay {
    background-color: #000;
    opacity: .6;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.service-card-content {
    z-index: 1;
    max-width: 275px;
    margin: 0 0 0 auto;
}

.service-card-content .word {
    opacity: 0;
}

._fm-service-card img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* TODO */
    object-fit: cover;
}

.serviec-card-title {
    font-weight: 800;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 16px;
}

.service-card-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: rgba(229, 229, 229, 1);
}

.service-card-link {
    all: unset;
    cursor: pointer;
    position: absolute;
    bottom: -2px;
    right: -2px;
    /* bottom: -2px;
    right: -2px; */
    border-radius: 50% 0 0 0%;
    background-color: rgba(255, 247, 219, 1);
    width: 100px;
    height: 100px;
    /* transition: .3s ease-in; */
}

/* TODO: fix arrow icon size */
.service-arrow-icon {
    width: 84px;
    height: 84px;
    border-radius: 50%;
    position: absolute;
    right: 4px;
    bottom: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(45deg);
    z-index: 3;
    color: #FFF;
}

.card-bottom-curve {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    flex: 1;
    position: absolute;
    bottom: -18px;
    right: 80px;
    transform: rotate(-45deg);
    border: 20px solid transparent;
    border-bottom-color: #fff7db;
}

.card-top-curve {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    flex: 1;
    position: absolute;
    top: -80px;
    right: -18px;
    transform: rotate(-45deg);
    border: 20px solid transparent;
    border-bottom-color: #fff7db;
}

._fm-services-container .swiper_button_prev,
._fm-services-container .swiper_button_next {
    all: unset;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #D161661F;
    color: #D16166;
    display: flex;
    align-items: center;
    justify-content: center;
}

._fm-services-container .swiper_button_next:disabled,
._fm-services-container .swiper_button_prev:disabled {
    opacity: .4;
}

@media(max-width: 1199px) {

    ._fm-services-container .swiper_button_prev,
    ._fm-services-container .swiper_button_next {
        width: 32px;
        height: 32px;
        font-size: 12px;
    }
}

@media(max-width: 991px) {

    ._fm-services-container {
        padding-right: 18px;
    }
}

@media(max-width: 574px) {
    ._fm-services-content {
        flex-direction: column;
        gap: 24px;
    }

    ._fm-services-container ._fm-section-title+div {
        justify-content: flex-start !important;
    }

    ._fm-services-content ._fm-section-title {
        padding-top: 0;
    }

    ._fm-service-card #service-inner-word {
        filter: blur(0px);
        opacity: 1;
        transform: translateY(0);
    }
    .service-card-text {
        transform: translate(0, 0);
        opacity: 1;
        filter: blur(0);
    }
}

@media(max-width: 460px) {
    ._fm-services-container {
        padding: 120px 18px 0;
    }
}