@font-face {
    font-family: 'Lama Sans';
    src: url('/fonts/Web/Standard/LamaSans-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lama Sans';
    src: url('/fonts/Web/Standard/LamaSans-Regular.woff2') format('woff2'),
        url('/fonts/Web/Standard/LamaSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lama Sans';
    src: url('/fonts/Web/Standard/LamaSans-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lama Sans';
    src: url('/fonts/Web/Standard/LamaSans-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lama Sans';
    src: url('/fonts/Web/Standard/LamaSans-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lama Sans';
    src: url('/fonts/Web/Standard/LamaSans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    /* color: rgba(255, 255, 255, 0.87); */
    /* background-color: #242424; */

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lama Sans', sans-serif !important;
    margin: 0;
    background-color: #FFF7DB !important;
}

a {
    text-decoration: none;
    color: black !important;
}

.mySwiper {
    width: 100%;
    display: flex;
    padding: 80px 16px 164px;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    /* transition: all 0.5s cubic-bezier(0.33, 1, 0.68, 1); */
    /* width: 332px !important; */
    transition: all 0.6s cubic-bezier(0.25, 1.5, 0.5, 1.25);
}

/* .swiper-slide:hover>div, */
.swiper-slide:hover {
    width: calc(332px * 1.199) !important;
}

._fm-section-title {
    font-weight: 800;
    font-size: 64px;
    line-height: 88px;
    overflow: hidden;
}

.main_bg_color {
    background-color: #FFF7DB;
}

.services-bg-image-2,
.services-bg-image-1 {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 32%;
    width: 799px;
    height: 1527.2899169921875px;
    left: 799px;
}

.services-bg-image-1 {
    z-index: 0;
}

.services-bg-image-2 {
    top: 204px;
    right: 4px;
}

.services-bg-image-2>img,
.services-bg-image-1>img {
    position: absolute;
}

._fm-hero-section {
    display: flex;
    align-items: center;
    height: 100vh;
}

._fm-main-subtitle {
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: #D16166;
}

._fm-main-desc {
    font-size: 18px;
    line-height: 32px;
    width: 1100px;
    max-width: 90%;
}

._fm-main-desc ._special_bold {
    font-weight: 700;
}

.BG-temp {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    background-color: #000;
    opacity: .6;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate(0);
    border-radius: 24px;
    z-index: 0;
    position: absolute;
}

.title-cover {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
}

/* ._fm-nav, */
._fm-container {
    position: relative;
    padding-left: 32px;
    padding-right: 32px;
    /* max-width: 1440px; */
    max-width: 1600px;
    margin: 0 auto;
}

.error_msg {
    font-size: 12px;
    color: rgb(220, 53, 69);
    margin: 6px 0px;
    text-align: left;
    left: 3px;
    bottom: -27px;
}

.text-truncate-4,
.text-truncate-1,
.text-truncate-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-truncate-1 {
    -webkit-line-clamp: 1;
}

.text-truncate-2 {
    -webkit-line-clamp: 2;
}

.text-truncate-4 {
    -webkit-line-clamp: 4;
}

@media(max-width: 991px) {

    ._fm-container {
        padding: 0 18px;
    }

    ._fm-section-title,
    h1._fm-main-title {
        font-size: 52px;
        line-height: 62px;
    }
}

@media(max-width: 768px) {

    ._fm-section-title,
    h1._fm-main-title {
        font-size: 39px;
        line-height: 49px;
    }
}

@media(max-width: 574px) {

    ._fm-section-title,
    h1._fm-main-title {
        font-size: 34px;
        line-height: 39px;
    }

    .mySwiper {
        padding-right: 0;
        padding-left: 0;
        padding-top: 0;
    }

    .swiper-slide:hover {
        width: 100% !important;
    }
}