._fm-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('/src/assets/test.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}