.select__container {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    flex: 1;
}

.label {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.my-select__control {
    border: 1px solid transparent !important;
    height: 48px;
    border-radius: 8px !important;
    font-size: 14px !important;
    line-height: 20px;
    color: #1E1E1EBF !important;
}

.my-select__placeholder {
    font-size: 14px;
    line-height: 20px;
    color: #1E1E1EBF;
}

.my-select__control.focused {
    outline: none !important;
    box-shadow: none !important;
    border-color: #D16166 !important;
}

.my-option {
    padding: 10px;
    cursor: pointer;
    color: #333 !important;
    margin: 0 !important;
    font-size: 14px !important;
}

.my-option.focused:not(.selected) {
    background-color: #dddddda7 !important;
}

.my-option.selected {
    /* background-color: #013180; */
    color: white !important;
}