._fm-nav {
    position: absolute !important;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    z-index: 100000;
    padding: 32px;
}

._fm-link-main,
._fm-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0%;
    text-decoration: none;
    opacity: .7;
}

._fm-link-main {
    color: #FAE87D !important;
    background-color: #D16166;
    opacity: 1;
    border-radius: 30px;
    padding: 8px 24px;
    transition: .3s ease-in-out;
}

._fm-link-main:hover {
    background-color: #B8555A;
}

._fm-logo {
    width: 200px;
    height: 80px;
    object-fit: contain;
}

._fm-footer {
    padding: 32px;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #1E1E1E;
    border-top: 1px solid #1E1E1E1A;
    opacity: .7;
}

@media(max-width: 1550px) {
    ._fm-nav {
        padding: 18px;
    }

    ._fm-link-main,
    ._fm-link {
        font-size: 14px;
        line-height: 28px;
    }

    ._fm-link-main {
        border-radius: 30px;
        /* padding: 6px 18px; */

    }

    ._fm-logo {
        width: 140px;
        height: auto;
    }

    
._fm-footer {
    padding: 28px;
    font-size: 14px;
    line-height: 28px;
}
}