._fm-nav {
    position: fixed !important;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    z-index: 100000;
    transition: .3s ease-in-out;
    padding: 32px;
    max-width: 1600px;
}

._fm-nav.show {
    transform: translate(-50%, 0%);
    background-color: #fff7db56;
    backdrop-filter: blur(4px);
}

._fm-nav.hide {
    transform: translate(-50%, -100%);
}

._fm-link-main,
._fm-link {
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0%;
    text-decoration: none;
    opacity: .7;
    color: #1E1E1E !important;
    position: relative;
}
.dropdown-menu-btn.active,
._fm-link.active,
._fm-link:hover {
    opacity: 1 !important;
    color: #B8555A !important;
}

._fm-link:not(._fm-link-main)::after {
    content: "";
    position: absolute;
    bottom: -1px;
    right: 0;
    width: 0;
    height: 2px;
    background-color: #B8555A;
    border-radius: 10px;
    transition: 0.2s ease-in;
}

._fm-link.active::after,
._fm-link:not(._fm-link-main):hover::after {
    width: 100%;
}


._fm-link-main {
    color: #FAE87D !important;
    background-color: #D16166;
    opacity: 1;
    border-radius: 30px;
    padding: 8px 24px;
}

._fm-link-main:hover {
    background-color: #B8555A;
    color: #FAE87D !important;
}

._fm-logo {
    width: 200px;
    height: 80px;
    object-fit: contain;
}

._fm-footer {
    padding: 32px;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #1E1E1E;
    border-top: 1px solid #1E1E1E1A;
    opacity: .7;
}

._fm-open-menu-btn {
    display: none;
}

.dropdown-menu-btn {
    all: unset;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0%;
    text-decoration: none;
    opacity: .7;
    color: #1E1E1E !important;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    cursor: pointer;
}

.dropdown-menu__ {
    position: absolute;
    top: calc(100% + 10px);
    background: #FFF;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: .25rem;
    /* row-gap: 10px; */
    box-shadow: 4px 4px 20px rgba(0, 0, 0, .08);
}

.dropdonw-link {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.dropdonw-link:hover {
    background-color: #774a9f10;
}

.dropdonw-link:not(:last-child) {
    border-bottom: 1px solid #DDD;
}

.dropdown-menu__ ._fm-link::after {
    display: none;
}

@media(max-width: 991px) {
    ._fm-nav {
        flex-direction: row-reverse;
        padding: 8px 18px;
        ;
    }

    ._fm-nav._fm-nav.show {
        background-color: #fff7dbcf;
    }

    .nav-links {
        display: none !important;
        position: fixed;
        top: 0;
        right: 0;
        width: 270px;
        flex-direction: column;
        background: #FFF;
        height: 100vh;
        padding-right: 28px;
        justify-content: center;
        opacity: 0;
        transform: translateX(100%);
        transition: .3s ease-in;
    }

    ._fm-nav.menu-opened .nav-links {
        opacity: 1;
        transform: translateX(0);
        align-items: flex-start !important;
    }

    ._fm-nav.hide.menu-opened {
        top: 116.53px;
        transition: none;
    }

    ._fm-nav.show.menu-opened {
        /* top: 0; */
        transition: none;
    }

    ._fm-open-menu-btn {
        display: flex;
        z-index: 1;
    }

    ._fm-nav.menu-opened ._fm-open-menu-btn {
        opacity: 1;
    }

    ._fm-logo {
        z-index: 1;
    }

    .dropdown-menu__ {
        position: relative;
        top: 0;
    }

}

@media(max-width: 575px) {

    ._fm-logo {
        width: 150px;
        height: 60px;
    }
}