._fm-contact-us {
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 120px 0 40px;
}

.contact-us-form-box {
    background-color: #362E57;
    color: #FFF;
    padding: 96px 64px 96px 200px;
    width: 60%;
    border-radius: 32px 0 0 32px;
}

.contact-us-title {
    font-weight: 800;
    font-size: 40px;
    line-height: 56px;
    margin-bottom: 32px;
    color: #FFF7DB;
    max-width: 440px;
}

.contact-us-form {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.contact-us-form .input-box {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    flex: 1;
}

.input-box label {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.contact-us-form .input-box textarea,
.contact-us-form .input-box input {
    all: unset;
    height: 48px;
    border-radius: 8px;
    padding: 14px 11px;
    background-color: #FFF;
    box-sizing: border-box;
    color: #1E1E1EBF;
    border: 1px solid transparent;
    font-size: 14px;
    line-height: 20px;
    color: #1E1E1EBF;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}


.contact-us-form .input-box textarea:focus,
.contact-us-form .input-box input:focus {
    border-color: #D16166;
}

.contact-us-form .input-box textarea::placeholder,
.contact-us-form .input-box input::placeholder {
    font-size: 14px;
    line-height: 20px;
    color: #1E1E1EBF;
}

.contact-us-form .input-box textarea {
    height: 190px;
}

.contact-us-submit-btn {
    all: unset;
    cursor: pointer;
    height: 48px;
    padding: 10px;
    border-radius: 8px;
    background-color: #D16166;
    color: #FAE87D;
    box-sizing: border-box;
    text-align: center;
    margin-top: 26px;
    transition: .3s ease-in-out;
}

.contact-us-submit-btn:hover {
    background-color: #B8555A;
}


.contact-us-left-boxes {
    transform: translateX(100px);
}

.contact-us-box {
    background-color: #FFF;
    padding: 66px 24px 52px 48px;
    border-radius: 24px;
}

.contact-us-box .contact-us-title {
    font-weight: 800;
    font-size: 24px;
    line-height: 32px;
    color: #1E1E1E;
}

.contact-us-box .contact-us-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    max-width: 550px;
    margin-bottom: 0;
}

@media(max-width: 1550px) {
    .contact-us-title {
        font-size: 36px;
        line-height: 50px;
        margin-bottom: 26px;
    }

    .contact-us-form-box {
        padding: 64px 42px 72px 182px;
        /* width: 55%; */
        border-radius: 32px 0 0 32px;
    }

    .contact-us-left-boxes img {
        max-width: 110px;
    }

    .contact-us-box {
        padding: 44px 20px 44px 32px;
        border-radius: 24px;
    }

    .contact-us-box .contact-us-title {
        font-size: 20px;
    }

    .contact-us-box .contact-us-text {
        max-width: 320px;
    }

    .contact-us-form .input-box textarea,
    .contact-us-form .input-box input {
        /* height: 36px; */
    }

    .contact-us-form .input-box textarea {
        height: 150px;
    }

    .contact-us-form {
        row-gap: 12px;
    }

    /* .contact-us-form-box h3, */
    .contact-us-form-box form {
        max-width: 600px;
    }
}