._fm-hero-section {
    display: flex;
    align-items: center;
    height: 100vh;
}

h1._fm-main-title {
    font-weight: 800;
    font-size: 64px;
    line-height: 88px;
    text-align: center;
    max-width: 847px;
}

.rectangular {
    position: absolute;
    z-index: -2;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 258px;
    background: linear-gradient(180deg, #362E57 -4.28%, hsl(47, 100%, 93%));
    height: calc(50% + 180px);
    bottom: 0;
}

.rectangular .overlay {
    border-radius: 0;
    background-color: #362E57;
    opacity: .5;
}
/* 
@media(max-width: 1550px) {

    .rectangular {
        width: 210px;
        height: calc(50% + 240px);

    }

} */
 

@media(max-width: 1199px) {

    .rectangular {
        width: 194px;
        /* height: calc(50% + 206px); */

    }

    ._fm-hero-section h1._fm-main-title {
        max-width: 670px
    }
    
}

@media(max-width: 991px) {
    ._fm-hero-section h1._fm-main-title {
        max-width: 500px
    }

    .rectangular {
        width: 129px;
        /* height: calc(50% + 180px); */
    }

}

@media(max-width: 574px) {

    .rectangular {
        width: 105px;
    }

}