._fm-hero-section {
    display: flex;
    align-items: center;
    height: 100vh;
}

h1._fm-main-title {
    font-weight: 800;
    font-size: 64px;
    line-height: 88px;
    letter-spacing: 0%;
    text-align: center;
    max-width: 847px;
}

.overlay,
.rectangular {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    /* background-color: #4a4265; */
    width: 258px;
    height: 70%;
    z-index: -1;
    background: linear-gradient(to bottom, #362e57e4 -10%, #fff7db00);
    /* background: linear-gradient(to bottom, #362E57 -35%, #362E57 -35%, #fff7db00 98%); */
}

@media(max-width: 1550px) {

    h1._fm-main-title {
        font-size: 52px;
        line-height: 76px;
        max-width: 700px;
    }

    .overlay,
    .rectangular {
        width: 210px;
        height: 70%;
    }

}