.footer__links {
    display: flex;
    gap: 10px 24px;
    flex-wrap: wrap;
    justify-content: flex-end;
    max-width: 336px;
}

.footer__links ._fm-link {
    width: fit-content;
    /* flex-basis: calc(25% - 24px); */
}

.footer__link {
    text-decoration: none;
    font-weight: 700;
}

.footer__link:hover {
    color: #D16166 !important;
}

@media(max-width: 575px) {
    ._fm-footer {
        font-size: 12px;
        padding: 16px;
        line-height: 20px;
        margin-top: 8px;
    }

    .footer__links {
        gap: 7px 14px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .fm__footer_container ._fm-link {
        font-size: 11px;
        line-height: normal;
    }

    .fm__footer_container ._fm-logo {
        width: 114px;
        height: auto;
    }

}