/* @import url('https://fonts.googleapis.com/css2?family=Lama+Sans:wght@400;700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Lama+Sans:wght@400;700&display=swap'); */

@font-face {
    font-family: 'Lama Sans';
    src: url('/fonts/Web/Standard/LamaSans-Regular.woff2') format('woff2'),
        url('/fonts/Web/Standard/LamaSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lama Sans';
    src: url('/fonts/Web/Standard/LamaSans-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lama Sans';
    src: url('/fonts/Web/Standard/LamaSans-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lama Sans';
    src: url('/fonts/Web/Standard/LamaSans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    /* color: rgba(255, 255, 255, 0.87); */
    /* background-color: #242424; */

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* @font-face {
    font-family: 'Lama Sans';
    src: url('/fonts/LamaSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* font-family: 'Tajawal', sans-serif; */
    /* font-family: 'Lama Sans', sans-serif !important; */
    font-family: 'Lama Sans', sans-serif !important;
    /* font-family: 'Cairo', sans-serif !important; */
    margin: 0;
}

a {
    text-decoration: none;
    color: black !important;
}